@import "tailwindcss";


@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kaushan Script';
  src: url('/fonts/kaushanscript.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
}

:root {
  --font-kaushan: 'Kaushan Script', cursive;
}

.font-kaushan {
  font-family: var(--font-kaushan);
}
